<div id='whiteBox'>
<h3>Oswald is a Free and Open font family.</h3>
            <p>Oswald is a reworking of the classic 'Gothic' and 'Grotesque' type styles, historically most usually represented by the late Nineteenth and early Twentieth Century faces such as;
<br>'Alternate Gothic'<br>'Franklyn Gothic'<br>'Headline Gothic'<br> 

  <a data-toggle="modal" href="#myModal2">'Grotesque No. 33'</a>
 <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       </div>
        <div class="modal-body">
        <img src="assets/images/scan2.png"/>
        </div>
     </div>
    </div>
  </div>



    <p>Oswald is designed to be used freely across the internet by web browsers on desktop computers, laptops and mobile devices.</p>
    <p>The Oswald fonts are available from <a href="http://www.google.com/fonts/specimen/Oswald">Google Fonts</a> and <a href="http://www.fontsquirrel.com/fonts/oswald">Font Squirrel</a> in a variety of weights and versions.</p>
    <p>Oswald is under active development. More weights and versions are in the pipeline, and improvements to the allready in-use fonts are regularly made.</p>
    <p>Check out the Oswald repo at <a href src="https://github.com/vernnobile/oswaldFont">github</a> where you can download the latest fonts and / or download the source designs.</p>
<hr>
