<div id='whiteBox'>
<h3>Free and Open</h3>
            <p>Oswald is a reworking of the classic 'Gothic' and 'Grotesque' type styles, historically usually represented by the late nineteenth and early Twentieth Century faces such as, 'News Gothic', 'Alternate Gothic', 'Franklyn Gothic', and many more.</p>
    <p>Oswald is designed to be used freely across the internet by web browsers on desktop computers, laptops and mobile devices.</p>
    <p>Oswald is available from Google Fonts and Font Squirrel.</p>
<hr>