<div class="row">
    <div class="col-md-7 col-lg-6">
    <p class='spec72 heavy redtxt'>HANOI ROCKS LOGIC 29%</p>
<p class='spec72 light redtxt'>HANOI CONCRETE BLOCKS 109%</p>
<p class='spec55 heavy redtxt'>Now Built With All New Materials</p>
<p class='spec55 light redtxt'>Materialisme, Nein!</p>

        </div>

        <div class="col-md-5 col-lg-6">
<p class='spec55 medium'>Effective Superhuman Dreamstate Plague</p>
<p class='spec34 medium'>HAMBRUGE COMANCHE TORQUE FOUCAULT nova tech embedded shadow play desktop</p>
<p class='spec34 light'>HAMBRUGE COMANCHE TORQUE FOUCAULT nova tech embedded shadow play desktop</p>
<p class='spec21 light'>HANOI CONCRETE BLOCKS 109% HAMBRUGE COMANCHE TORQUE FOUCAULT nova tech embedded shadow play desktop effective superhuman dreamstate l’approche du feu</p>
<p class='spec16 light'>Enfin toutes les choses qui peuvent distinctement faire connaître un corps, se rencontrent en celui-ci. Mais voici que, cependant que je parle, on l’approche du feu : ce qui y restait de saveur s’exhale, l’odeur s’évanouit, sa couleur se change, sa figure se perd, sa grandeur augmente, il devient liquide, il s’échauffe, à peine le peut-on toucher.</p>
        </div>

</div>
<br><br>

